{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Runde {{ round_number }} von {{ max_rounds }}
{% endblock %}

{% block styles %}
	<style type="text/css">
		#buttonbox {
			text-align: center;
		}

		#info {
			clear: both;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
		}

		#next_box {
			text-align: center;
		}

		#countdown {
			text-align: right;
		}

		.green {
			color: green;
		}

		.yellow {
			color: orange;
		}

		.page-header {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}

		.smalltext {
			font-size: 12px;
		}

		#green_change {
			color: green;
			width: 49%;
			display: inline-block;
			text-align: center;
			float: left;
		}

		#yellow_change {
			color: orange;
			width: 49%;
			display: inline-block;
			text-align: center;
			float: right;
		}

		#adjustments {
			font-weight: bold;
			font-size: 16px;
			width: 91%;
			margin-right: 10px;
			overflow: hidden;
			float: right;
		}

	</style>
{% endblock %}

{% block scripts %}

	<script src="{% static "risktaking/highcharts/highcharts.js" %}"></script>
	<script src="{% static "risktaking/highcharts/modules/exporting.js" %}"></script>
	<script type="text/javascript">

		$(function () {
		    
		    Adj = new LotteryAdjuster("action_button", "info", "counter", "msg", "next_box", "id_low_payoff", "id_high_payoff");
		    Adj.prepare({
		    	default: {{ default }},
		    	mode: {{ mode }},
		    	small_step: {{ small_step }} / 100,
		    	big_step: {{ big_step }} / 100,
		    	max_steps: {{ max_steps }},
		    	min: 0.0,
		    	interval: {{ interval }},
		    	round: {{ round_number }},
		    	outcome: {{ lottery_outcome }}
		    });
		    Adj.run();
		});


		function LotteryAdjuster(btn, info, counter, msg, next, lowinput, highinput) {

			this.btn = $('#'+btn);
			this.info = $('#'+info);
			this.next = $('#'+next);
			this.counter = $('#'+counter);
			this.msg = $('#'+msg);

			this.low_pay = $('#'+lowinput);
			this.high_pay = $('#'+highinput);

		    this.prepare = function (settings) {
		    	this.mode = settings.mode;
		    	this.default = settings.default;

		    	this.small_step = settings.small_step;
				this.big_step = settings.big_step;

				this.max_steps = settings.max_steps;

				this.min = settings.min;
				this.max = this.max_steps * (this.small_step + this.big_step)
			
				this.interval = settings.interval; // seconds between adjustments

				if (this.default == "Safe") {
					this.current_values = [
						this.max_steps * this.small_step,
						this.max_steps * this.small_step
					]
				} else {
					this.current_values = [
						this.min,
						this.max
					]
				}

				this.step = 0;
				this.running = false;
				this.user_has_acted = false;
				this.interval_id = null;

				this.round = settings.round;
				this.outcome = settings.outcome;

				self = this;

				if (this.mode == "Active") {
					this.btn.text("Lotterie anpassen");
				} else {
					this.btn.text("Anpassung stoppen");
				}


				this.chart = new Highcharts.chart('lottery1', {
			        chart: {
			            type: 'column'
			        },
			        drilldown: {
			        	allowPointDrilldown: false
			        },
			        legend: {
			        	enabled: false
			        },
			        title: {
			            text: 'Aktuelle Lotterie'
			        },
			        credits: { 
						enabled: false 
					},
					exporting: {
						enabled: false
					},
					tooltip: {
						enabled: false
					},
			        xAxis: {
			            categories: [
			                'Grün', 'Gelb'
			            ],
			            crosshair: false
			        },
			        yAxis: {
			            min: this.min,
			            max: this.max,
			            title: {
			                text: 'Auszahlungen (Euro)'
			            },
			            labels: {
			            	format: '{value:.2f}'
			            }
			        },
			        plotOptions: {
			            column: {
			                pointPadding: 0.2,
			                borderWidth: 0
			            }
			        },
			        series: [
			        	{
			            	name: 'Lottery',
			            	data: this.current_values,
			            	colorByPoint: true,
			            	colors: ['green', 'orange'],
			            	dataLabels: {
			            		enabled: true,
			            		style: {
			            			fontSize: "14px"
			            		},
			            		format: '{y:.2f}'
			            	}
						}
					]
			    });
		    }

			this.make_step = function () {
				this.step += 1;

				var left = this.current_values[0];
				var right = this.current_values[1];

				if (this.default == "Safe") {
					left -= this.small_step;
					right += this.big_step;
				} else {
					left += this.small_step;
					right -= this.big_step;
				}

				this.current_values = [left, right];
				this.update_chart()

				if (this.step >= this.max_steps) {
					this.stop();
					return false;
				}
			}

			this.run = function () {
				var pre_seconds_left = 15;

				self.intro_timer = window.setInterval(function () {
					pre_seconds_left -= 1;
					self.counter.text(pre_seconds_left + "s");

					if (pre_seconds_left <= 0) {
						doTask();
						window.clearInterval(self.intro_timer);
					}
				}, 1000);

				doTask = function () {
					self.running = true;
					self.seconds_left = self.interval;
					self.msg.text("Zeit: ");
					self.counter.text(self.seconds_left + " Sekunden");
					self.info.addClass("hidden");
					self.btn.removeClass("hidden");
					self.interval_id = window.setInterval(function() {
						self.seconds_left -= 1;
						self.counter.text(self.seconds_left + "s");
						if (self.seconds_left <= 0) {
							if (self.mode == "Passive") {
								self.make_step();
							} else { // mode == active
								if (self.user_has_acted) {
									self.make_step();
									self.user_has_acted = false;
								} else {
									self.stop();
								}
							}
							if (self.running) {
								self.seconds_left = self.interval;
								self.msg.text("Zeit: ");
								self.counter.text(self.seconds_left + "s");
								self.btn.removeClass("hidden");
							}
						}

					}, 1000);
				}

			}
				// window.setTimeout(function () {
				// 	self.running = true;
				// 	self.seconds_left = self.interval;
				// 	self.msg.text("Verbleibende Zeit: ");
				// 	self.counter.text(self.seconds_left + " Sekunden");
				// 	self.info.addClass("hidden");
				// 	self.btn.removeClass("hidden");
				// 	self.interval_id = window.setInterval(function() {
				// 		self.seconds_left -= 1;
				// 		self.counter.text(self.seconds_left + " Sekunden");
				// 		if (self.seconds_left <= 0) {
				// 			if (self.mode == "Passive") {
				// 				self.make_step();
				// 			} else { // mode == active
				// 				if (self.user_has_acted) {
				// 					self.make_step();
				// 					self.user_has_acted = false;
				// 				} else {
				// 					self.stop();
				// 				}
				// 			}
				// 			if (self.running) {
				// 				self.seconds_left = self.interval;
				// 				self.msg.text("Verbleibende Zeit: ");
				// 				self.counter.text(self.seconds_left + " Sekunden");
				// 				self.btn.removeClass("hidden");
				// 			}
				// 		}

				// 	}, 1000);
				// }, timeout * 1000);
			// }

			this.stop = function() {
				window.clearInterval(this.interval_id);
				this.interval_id = null;
				this.running = false;

				var msg = "Sie haben eine Lotterie ausgewählt";

				this.info.html(msg);
				this.info.removeClass("hidden");
				this.counter.text("");
				this.msg.text("Die Zeit ist abgelaufen.");
				this.low_pay.val(this.current_values[0]);
				this.high_pay.val(this.current_values[1]);
				this.btn.addClass("hidden");
				this.next.removeClass("hidden");
			}

			this.update_chart = function() {
				this.chart.series[0].setData(this.current_values);
			}
			

			this.user_click = function() {
				if (!this.running) {
					return false;
				}

				this.user_has_acted = true;
				this.btn.addClass("hidden");
				this.msg.text("Zeit: ");

				if (this.mode == "Passive") {
					this.stop();
				}
			}
					
		}

	</script>

{% endblock %}

{% block content %}
	<div id="countdown">
		<span id="msg">Die Runde beginnt in </span><span id="counter">15s</span>
	</div>
	<div id="lottery1"></div>
	<div id="adjustments">
		<span id="yellow_change">
			{% if default_nojson == "Safe" %}
			+{{ big_step_text|stringformat:".2f" }}
		{% else %}
			-{{ big_step_text|stringformat:".2f" }}
		{% endif %}
		</span>
		<span id="green_change">
			{% if default_nojson == "Safe" %}
			-{{ small_step_text|stringformat:".2f" }}
		{% else %}
			+{{ small_step_text|stringformat:".2f" }}
		{% endif %}
		</span>
	</div>
	<div id="info">Machen Sie sich bereit!</div>
	<div id="buttonbox">
		<button type="button" class="btn btn-primary btn-large hidden" id="action_button" onclick="Adj.user_click();"></button>
		<br>
	</div>
    <div id="next_box" class="hidden">
    	<input type="hidden" name="low_payoff" id="id_low_payoff" value="">
    	<input type="hidden" name="high_payoff" id="id_high_payoff" value="">
    	{% next_button %}
    </div>
{% endblock %}

