{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Ende
{% endblock %}

{% block styles %}
	<style type="text/css"> 
		.page-header {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}
	</style>
{% endblock%}

{% block content %}
	<p>
		Vielen Dank für Ihre Teilnahme. Das Experiment ist jetzt beendet.
	</p>

	<p>	 
		{% if relevant_round > 0 %}
			In der Entscheidungsaufgabe wurde durch einen Zufallszug Runde {{ relevant_round }} (Teil 1) für die Auszahlung ausgewählt.<br>
		{% else %}
			Es wurde durch einen Zufallszug die zuletzt gespielte Lotteriewahlaufgabe (Teil 2) für die Auszahlung ausgewählt.<br>
		{% endif %}
			Sie spielten die 50:50 Lotterie mit folgenden möglichen Auszahlungsbeträgen: grün: {{ low_payoff }} - gelb: {{ high_payoff }}.<br>
			Das Ergebnis des Zufallszugs ist: {{ lottery_outcome }}<br>
			Die resultierende Auszahlung ist: {{ payoff_euro }}.
	</p>
	<p>
		Ihre heutige Teilnahmevergütung beträgt {{ participation_fee }}. Insgesamt erhalten Sie also <b>{{ payoff_total }}</b>. <br>
		Bitte tragen Sie diesen Betrag in die ausgeteilte Quittung ein und warten Sie an Ihrem Platz bis Sie an Hand Ihrer Sitzplatznummer aufgerufen werden.
	</p>
{% endblock %}


 