{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Sie treffen nun die Entscheidung als Finanzberater
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "group/bootstrap-slider.min.css" %}"/>
    <link rel="stylesheet" href="{% static "group/category.css" %}">
    <link rel="stylesheet" href="{% static "group/agent.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "group/bootstrap-slider.min.js" %}"></script>
    <script type="text/javascript">
        
        $('.otree-btn-next').hide();
var touched =  {
    1: 0,
    2: 0,
    3: 0,
    4: 0,
    5: 0,
};

function check_all_sliders_touched(num_sliders) {
    sum = 0;
    for (e in touched) {
        sum += touched[e];
    }
    return (sum == num_sliders);
}

$("#id_decision_for_p1").slider();
$("#id_decision_for_p2").slider();
$("#id_decision_for_p3").slider();
$("#id_decision_for_p4").slider();
$("#id_decision_for_p5").slider();



function calc_client_payoffs(risky) {
    var safe = 10 - risky;

    var good_state = safe + risky*3.5;
    var bad_state = safe;

    return {'win': good_state, 'lose': bad_state};
}

function calc_advisor_payoffs(risky) {
    var fixed_pay = {{ Constants.fixed_payment|json }};
    var compensation = {{ player.compensation|json }};
    var share_result = {{ Constants.share_result|json }};
    var share_profit = {{ Constants.share_profit|json }};
    var client_payoffs = calc_client_payoffs(risky);

    if (compensation == 'fixed') {
        return {'win': 5, 'lose': 5, 'ev': 5};
    } else if (compensation == 'variable_result') {
        return {
            'win': fixed_pay + client_payoffs['win']*share_result/100, 
            'lose': fixed_pay + client_payoffs['lose']*share_result/100, 
        };
    } else { // variable_profit
        return {
            'win': fixed_pay + risky*2.5*share_profit/100,
            'lose': fixed_pay,
        };
    }
}

$('#id_decision_for_p1').on('change', function (event) {
    change_table(event);
});

$('.slider-handle').hide();
$('.slider').on('mousedown', function (event) {
    $(this).find('.slider-handle:not(.hide)').show();
});

$('#id_decision_for_p2').on('change', function (event) {
    change_table(event);
});

$('#id_decision_for_p3').on('change', function (event) {
    change_table(event);
});

$('#id_decision_for_p4').on('change', function (event) {
    change_table(event);
});

$('#id_decision_for_p5').on('change', function (event) {
    change_table(event);
});


function change_table(event) {
    var client_payoffs = calc_client_payoffs(event.target.value);
    var advisor_payoffs = calc_advisor_payoffs(event.target.value);

    var id = event.target.id.slice(-1);
    //console.log(id);

    touched[id] = 1;

    $('#safe_'+id).html((10 - event.target.value).toFixed(2)+'€');
    $('#risky_'+id).html(parseFloat(event.target.value).toFixed(2)+'€');

    $('#lose_'+id).html(client_payoffs['lose'].toFixed(2)+'€');
    $('#win_'+id).html(client_payoffs['win'].toFixed(2)+'€');

    $('#pay_lose_'+id).html(advisor_payoffs['lose'].toFixed(2)+'€');
    $('#pay_win_'+id).html(advisor_payoffs['win'].toFixed(2)+'€');
    //$('#pay_ev_'+id).html(advisor_payoffs['ev'].toFixed(2));

    // var ev = calc_sums();
    // $('#ev').html(ev.toFixed(2));

    if (check_all_sliders_touched(5)) {
        $('.otree-btn-next').show();
    }
}

function calc_sums() {
    var ev_sum = 0;

    for (var id = 1; id < 5; id++) {
        loss = parseFloat($('#pay_lose_'+id).html());
        win = parseFloat($('#pay_win_'+id).html());
        ev_sum += (loss * 2/3) + (win * 1/3);
    }

    return ev_sum;
}
    </script>
{% endblock %}

{% block content %}

    <p><b>Die riskante Anlage</b></p>
    <p>Mit einer Wahrscheinlichkeit von 1/3 erhält der Kunde eine Rendite von +250% auf das investierte Kapital. <br/>
    Seine Auszahlung beträgt in diesem Fall: {{ Constants.endowment_principals }} + 2,5 * Investment.
    </p>
    <p>
        Mit einer Wahrscheinlichkeit von 2/3 erhält der Kunde eine Rendite von -100% auf das investierte Kapital.<br />
        Seine Auszahlung beträgt in diesem Fall: {{ Constants.endowment_principals }} - Investment.
    </p>
    <p><b>Ihre Auszahlung</b></p>
    <p>
    {% if player.compensation == "fixed" %}

    	Als Finanzberater erhalten Sie eine feste Auszahlung von {{ Constants.fixed_payment }}. Das bedeutet, die Entscheidung, die Sie für Ihren Kunden treffen, hat keinen Einfluss auf Ihre eigene Auszahlung.

    {% elif player.compensation == "variable_result" %}

    	Als Finanzberater erhalten Sie eine feste Auszahlung von {{ Constants.fixed_payment }} und zusätzlich {{ Constants.share_result }}% vom Ergebnis Ihres Kunden. Das bedeutet, die Entscheidung, die Sie für Ihren Kunden treffen, hat auch einen Einfluss auf Ihre eigene Auszahlung.

    {% elif player.compensation == "variable_profit" %}

    	Als Finanzberater erhalten Sie eine feste Auszahlung von {{ Constants.fixed_payment }} und zusätzlich {{ Constants.share_profit }}% von der Rendite Ihres Kunden. Das bedeutet, die Entscheidung, die Sie für Ihren Kunden treffen, hat auch einen Einfluss auf Ihre eigene Auszahlung.

    {% endif %}
    </p>

    <p>Die Tabelle zeigt den Anlagewunsch jedes Ihrer Kunden. Durch Klicken auf die graue Skala und Bewegen des jeweiligen Sliders können Sie die Investition in die riskanten Anlage für jeden Kunden individuell auswählen. Daneben sehen Sie die möglichen Auszahlungen an den Kunden und Ihre eigene Beratervergütung.</p>

    <table width="100%">
        <tr>
            <th colspan="2">Kunde</th>
            <th colspan="3">Investment</th>
            <th colspan="2">Auszahlung Kunde</th>
            <th colspan="3">Auszahlung Berater</th>
        </tr>
        <tr>
            <th width="15">#</th>
            <th width="180">Anlagewunsch</th>
            <th width="60">sicher</th>
            <th width="260"></th>
            <th width="65">riskant</th>
            <th width="100">schlecht</th>
            <th width="75">gut</th>
            <th width="100">schlecht</th>
            <th width="75">gut</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{ p1_category }}</td>
            <td id="safe_1">0.00€</td>
            <td align="center"><span class="slider-label-left">0%</span><input id="id_decision_for_p1" name="decision_for_p1" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="0.0"/><span class="slider-label-right">100%</span></td>
            <td id="risky_1">0.00€</td>
            <td id="lose_1">0.00€</td>
            <td id="win_1">0.00€</td>
            <td id="pay_lose_1">0.00€</td>
            <td id="pay_win_1">0.00€</td>
        </tr>
        <tr>
            <td>2</td>
            <td>{{ p2_category }}</td>
            <td id="safe_2">0.00€</td>
            <td align="center"><span class="slider-label-left">0%</span><input id="id_decision_for_p2" name="decision_for_p2" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="0.0"/><span class="slider-label-right">100%</span></td>
            <td id="risky_2">0.00€</td>
            <td id="lose_2">0.00€</td>
            <td id="win_2">0.00€</td>
            <td id="pay_lose_2">0.00€</td>
            <td id="pay_win_2">0.00€</td>
        </tr>
        <tr>
            <td>3</td>
            <td>{{ p3_category }}</td>
            <td id="safe_3">0.00€</td>
            <td align="center"><span class="slider-label-left">0%</span><input id="id_decision_for_p3" name="decision_for_p3" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="0.0"/><span class="slider-label-right">100%</span></td>
            <td id="risky_3">0.00€</td>
            <td id="lose_3">0.00€</td>
            <td id="win_3">0.00€</td>
            <td id="pay_lose_3">0.00€</td>
            <td id="pay_win_3">0.00€</td>
        </tr>
        <tr>
            <td>4</td>
            <td>{{ p4_category }}</td>
            <td id="safe_4">0.00€</td>
            <td align="center"><span class="slider-label-left">0%</span><input id="id_decision_for_p4" name="decision_for_p4" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="0.0"/><span class="slider-label-right">100%</span></td>
            <td id="risky_4">0.00€</td>
            <td id="lose_4">0.00€</td>
            <td id="win_4">0.00€</td>
            <td id="pay_lose_4">0.00€</td>
            <td id="pay_win_4">0.00€</td>
        </tr>
        <tr>
            <td>5</td>
            <td>{{ p5_category }}</td>
            <td id="safe_5">0.00€</td>
            <td align="center"><span class="slider-label-left">0%</span><input id="id_decision_for_p5" name="decision_for_p5" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="0.0"/><span class="slider-label-right">100%</span></td>
            <td id="risky_5">0.00€</td>
            <td id="lose_5">0.00€</td>
            <td id="win_5">0.00€</td>
            <td id="pay_lose_5">0.00€</td>
            <td id="pay_win_5">0.00€</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <p>Zur Erinnerung: Sie selbst haben die Anlagestrategien wie folgt verteilt:</p>
    <div id="super_box">
        <div id="left_axis_label" class="axis_label">0%</div>
        <div id="right_axis_label" class="axis_label">100%</div>
        <div id="axis_box">
            <div class="category_label" id="a" style="width: {{ width_a }}px; margin-right: 0px;">
                <div class="label">sehr konservativ</div>
                <div class="category_label_handle handle_right"></div>
            </div>
            <div class="category_label" id="b" style="width: {{ width_b }}px; margin-right: 0px;">
                <div class="label">sicherheitsorientiert</div>
                <div class="category_label_handle handle_right"></div>
            </div>
            <div class="category_label" id="c" style="width: {{ width_c }}px; margin-right: 0px;">
                <div class="label">ausgeglichten</div>
                <div class="category_label_handle handle_right"></div>
            </div>
            <div class="category_label" id="d" style="width: {{ width_d }}px; margin-right: 0px;">
                <div class="label">wachstumsorientiert</div>
                <div class="category_label_handle handle_right"></div>
            </div>
            <div class="category_label" id="e" style="width: {{ width_e }}px; margin-right: 0px;">
                <div class="label">offensiv</div>
                <div class="category_label_handle handle_right"></div>
            </div>
        </div>
    </div>

    <p>&nbsp; </p>
    <div align="right">{% next_button %}</div>

{% endblock %}
