{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <div style=" border: solid; border-color: #f6f6f6; padding-left: 0px; width: 65%"  >

         <table class="table" style="font-size: 12px">
            <tr>
                <td>You are <b>{{ player.label }}</b></td>
                <td>Current round is <b>Round {{ player.round_number }}</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>


        <div style=" margin-left: 15px" >

            {% if player.round_number == 1 %}
                {% if player.treatment == 'inclusion' %}
                    This are the instructions for the inclusion treatment. (Displayed in round1)
                {% else %}
                    This are the instructions for the exclusion treatment. (Displayed in round1)
                {% endif %}
            {% else %}
                Round {{ player.round_number }} starts now. On the next page you will determine your contribution for the first game. All players will play this game.
                <br>
                (This is displayed if the round number is > 1)
            {% endif %}

        </div>
    <br>
    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">
        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>
{% endblock %}
