{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Second Contribution
{% endblock %}

{% block content %}
    <div style=" border: solid; border-color: #f6f6f6; padding-left: 0px; width: 65%">

         <table class="table" style="font-size: 12px">
                <tr>
                    <td>You are <b>{{ player.label }}</b></td>
                    <td>Current round is <b>Round {{ player.round_number }}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>


        <div style=" margin-left: 15px">

            <br>
            This is the second game of this round.
            <br>
            {% if group.all_play == 'True' %}
                All five players play the second game.
            {% else %}
                As <b>{{ group.excluded_player }}</b> was not included, there are four players in the second game.
                <br>
            {% endif %}
            <br><br>
            {% formfield player.cont_second %}

        </div>

    <br>
    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">
        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>
{% endblock %}
