{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Expectation
{% endblock %}

{% block styles %}
	<style type="text/css">
	.page-header {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 10px !important;
	}
	</style>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		// This script hides the timeout until there is only less than one minute left.
		$(function() {
			$('#otree-timeout').hide(); 	
		});
		
		$('#minutes').bind("DOMSubtreeModified",function(event){
  			if (event.currentTarget.innerHTML == "0") {
  				// console.log('less than one minute to go');
  				$('#otree-timeout').show(); 
  			}
		});
	</script>
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<p>You are <b>Player A.</b></p>

<p>{% if group.treatment == "agent" %}You have {% else %} The computer has {% endif %} determined the winning color for Player B's lottery. </p>

<p>Player B now decides how many points (between 0 and 100) to send you, depending on the outcome of the lottery.</p>

{% formfield player.expected_transfer_good with label="How many points do you think will Player B send to you if the outcome of the lottery is good, i.e. Player B receives an additional 300 points?" %}

{% formfield player.expected_transfer_bad with label="How many points do you think will Player B send to you if the outcome of the lottery is bad, i.e. Player B receives an additional 100 points?" %}

{% next_button %}

{% endblock %}
