{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Expectation
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<p>You are <b>Player A.</b></p>

<p>{% if group.treatment == "agent" %}You have {% else %} The computer has {% endif %} determined the winning color for Player B's lottery. </p>

<p>Player B now decides how many points to send you, depending on the outcome of the lottery.</p>

{% formfield player.expected_transfer_good with label="How many points do you think will Player B send to you if the outcome of the lottery is good?" %}

{% formfield player.expected_transfer_bad with label="How many points do you think will Player B send to you if the outcome of the lottery is bad?" %}

{% next_button %}

{% endblock %}
