{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   	Experiment Ended
{% endblock %}

{% block content %}

	{% if not group.intact %}
		{% if player.timed_out %}
			<p>Unfortunately, you did not complete the experiment in time.</p>

			<p>You do not receive any payment.</p>
		{% else %}
			<p>Unfortunately, your partner dropped out of the experiment before completing the task.</p>

			<p>Your final payoff is: {{ money_to_pay }}<p>

			<p>Thank you very much for participating in this experiment.</p>
		{% endif %}
	{% else %}
		{% if player.timed_out %}
			<p>Unfortunately, you did not complete the experiment in time.</p>

			<p>You do not receive any payment.</p>
		{% else %}
			<p>Unfortunately, your partner dropped out of the experiment before completing the task.</p>

			<p>Your final payoff is: {{ money_to_pay }}<p>

		<p>Thank you very much for participating in this experiment.</p>
		{% endif %}
	{% endif %}
		

{% endblock %}


