{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   	Payment
{% endblock %}

{% block styles %}
	<style type="text/css">
	.page-header {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 10px !important;
	}
	</style>
{% endblock %}

{% block content %}

	<p>Thank you very much for particpating in this experiment. You have collected {{ player.payoff }} and will receive {{ money_to_pay }}.</p>


{% endblock %}


