{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
	<p>
	You are <b>Player B</b>.
	</p>

	<p>You have to decide how many of your points to send to Player A. You can choose any number of points between 0 and 100.</p>

	<p><b>{% if group.treatment == "agent" %}Player A {% else %} The computer {% endif %}</b>
	has selected <b>{{ group.winning_color }}</b> to be the winning color.
	</p>

	<p><em>Recall:<br>
	Both players start out with 100 points each.<br>
If the color of the ball drawn from the virtual urn is <b>{{ group.winning_color }}</b>, you <b>win the lottery</b> and receive an extra <b>300 points.</b><br>
If the color of the ball drawn from the virtual urn is <b>{% if group.winning_color == "yellow" %} green{% else %} yellow{% endif %}</b>, you <b>do not win the lottery</b> and only receive an extra <b>100 points.</b></em></p>


	<p>{% formfield group.reward_good with label="How many points would you like to send to Player A if you <b>win the lottery</b>?" %}</p>
	<p>{% formfield group.reward_bad with label="How many points would you like to send to Player A if you <u>do not</u> win the lottery?" %}</p>

    {% next_button %}

{% endblock %}
