{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

	<p>Thank you very much for logging on to participate in this experiment. We kindly ask you to focus on the experiment and make sure not to be distracted in the next 10 minutes. Throughout the session you will receive points, which are exchanged for Euros at a rate of 100 Points = 1€ for final payments.
	</p>

	<p>
You have been matched with another participant who is currently logged on. One of you will take on the role of Player A, while the other one will be Player B. Whether you take part as Player A or Player B is randomly determined by the computer. <b>Both, Player A and Player B start out with 100 points each. </b>
	</p>

	<p>
	A virtual urn contains an equal number of green and yellow balls, one of which is drawn from the urn later.<p>
	
	<p>
	{% if group.treatment == "agent" %}
		<b>Player A</b> decides which one of the two colors - yellow or green - is the winning color.
	{% else %}
		<b>The computer</b> decides which one of the two colors - yellow or green - is the winning color.
	{% endif %}
	</p>

	<p>
	If the color of the ball drawn from the urn is the same as the winning color, <b>Player B</b> receives an additional <b>300 points.</b> <br>
If the color of the ball drawn from the urn is <u>not</u> the same as the winning color, <b>Player B</b> receives an additional <b>100 points</b>.
	</p>

	<p><b>Player B</b> has the opportunity to send points to Player A. Player B can choose any number of points between 0 and 100. Each point send to Player A reduces Player B’s payoff, while simultaneously increasing Player A’s payoff in a one-to-one fashion. Because the ball has not been drawn from the virtual urn at this point, Player B decides how many points to send to Player A for each of the two possible outcomes of the lottery.</p>

	<p>Finally, a ball is drawn from the virtual urn and its color is revealed. Player B then receives the additional points from the lottery and Player A receives any points send to him by Player B. This concludes the experiment.</p>

	<p>&nbsp;</p>

	<p>If you have read and understood these instructions, please advance to the next page where you will learn about your role.</p>

    {% next_button %}

{% endblock %}
