{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Color choice
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<p>You are <b>Player A</b>.</p>


{% formfield group.winning_color with label="Please choose a winning color for Player B's lottery:" %}

    {% next_button %}

{% endblock %}
