{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Teil 1 - Instruktionen
{% endblock %}

{% block styles %}
	<style type="text/css"> 
		.page-header {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}
		.image_box {
			text-align: center;
		}
	</style>
{% endblock%}

{% block content %}
	<p><b>Anleitung 2 von 2</b></p>
	{% if mode == "Active" %}
		<p>
			Zu Beginn jeder Runde sehen Sie eine Lotterie, die Ihnen zunächst zugeteilt wurde. Dies ist Ihre Anfangslotterie. Wenn Sie diese Anfangslotterie behalten möchten, müssen Sie nichts tun und lediglich {{ interval }} Sekunden warten. Die Runde endet dann und Ihre Anfangslotterie wird gespielt. 
		</p>
		{% if default == "Safe" %}
			<p>
				Alternativ können Sie die Ergebnisse der Anfangslotterie ändern, indem Sie auf den Button „Anpassen“ klicken. <b>Dazu haben Sie {{ interval }} Sekunden Zeit.</b> Sobald Sie auf den Button „Anpassen“ geklickt haben, sinkt die Auszahlung, die Sie erhalten, wenn das Ergebnis „grün“ ausgewählt wird. Gleichzeitig steigt die Auszahlung, die Sie erhalten, wenn das Ergebnis „gelb“ angezeigt wird. Unter dem grünen Balken wird Ihnen angezeigt, um welchen Betrag das grüne Ergebnis sinkt sofern Sie auf den Button „Anpassen“ klicken. Unter dem gelben Balken wird Ihnen angezeigt, um welchen Betrag das gelbe Ergebnis steigt, wenn Sie auf den Button „Anpassen“ klicken.
			</p>
			<p>
				Weiter unten auf dem Bild sehen Sie ein Beispiel. Im linken Bild wird Ihnen die ursprüngliche Lotterie angezeigt. Im rechten Bild sehen Sie diejenige Lotterie, die durch Klicken des Buttons „Anpassen“ entstehen würde. Klicken Sie in diesem Beispiel auf „Anpassen“, sinkt die Auszahlung für das grüne Ergebnis von 8 auf 7 Euro. Gleichzeitig steigt durch Klicken des Buttons „Anpassen“ die Auszahlung für das gelbe Ergebnis von 13 auf 14.50 Euro.
			</p>
			<div class="image_box">
				<img src="{% static "risktaking_instructions/safe.png" %}" alt="safe" width="940">
			</div>
			<p>
				Wenn Sie auf „Anpassen“ geklickt haben, wird Ihnen die neue Lotterie nach Ablauf der {{ interval }} Sekunden angezeigt. Danach haben Sie wieder die Möglichkeit zu entscheiden, ob Sie diese neue Lotterie behalten wollen oder ob Sie einen weiteren Anpassungsschritt möchten. Wollen Sie die neue Lotterie behalten, müssen Sie wiederum {{ interval }} Sekunden warten. Die Lotterie wird dann automatisch ausgewählt und eines der Ereignisse (grün oder gelb) wird zufällig ausgewählt. Sofern Sie die neue Lotterie erneut anpassen wollen, klicken Sie bitte erneut auf „Anpassen“. Sie haben dazu wieder {{ interval }} Sekunden Zeit. Sie könne die Lotterie so lange anpassen, bis der grüne Balken (Ergebnis) 0 Euro erreicht. In diesem Fall wählen Sie diese Lotterie.
			</p>
		{% else %} <!--  RISKY  -->
			<p>
				Alternativ können Sie die Ergebnisse der Anfangslotterie ändern, indem Sie auf den Button „Anpassen“ klicken. <b>Dazu haben Sie {{ interval }} Sekunden Zeit.</b> Sobald Sie auf den Button „Anpassen“ geklickt haben, steigt die Auszahlung, die Sie erhalten, wenn das Ergebnis „grün“ ausgewählt wird. Gleichzeitig sinkt die Auszahlung, die Sie erhalten, wenn das Ergebnis „gelb“ angezeigt wird. Unter dem grünen Balken wird Ihnen angezeigt, um welchen Betrag das grüne Ergebnis steigt sofern Sie auf den Button „Anpassen“ klicken. Unter dem gelben Balken wird Ihnen angezeigt, um welchen Betrag das gelbe Ergebnis sinkt, wenn Sie auf den Button „Anpassen“ klicken.
			</p>
			<p>
				Weiter unten auf dem Bild sehen Sie ein Beispiel. Im linken Bild wird Ihnen die ursprüngliche Lotterie angezeigt. Im rechten Bild sehen Sie diejenige Lotterie, die durch Klicken des Buttons „Anpassen“ entstehen würde. Klicken Sie in diesem Beispiel auf „Anpassen“, steigt die Auszahlung für das grüne Ergebnis von 7 auf 8 Euro. Gleichzeitig sinkt durch Klicken des Buttons „Anpassen“ die Auszahlung für das gelbe Ergebnis von 14.50 auf 13 Euro.  

			</p>
			<div class="image_box">
				<img src="{% static "risktaking_instructions/risky.png" %}" alt="active risky" width="940">
			</div>
			<p>
				Wenn Sie auf „Anpassen“ geklickt haben, wird Ihnen die neue Lotterie nach Ablauf der {{ interval }} Sekunden angezeigt. Danach haben Sie wieder die Möglichkeit zu entscheiden, ob Sie diese neue Lotterie behalten wollen oder ob Sie einen weiteren Anpassungsschritt möchten. Wollen Sie die neue Lotterie behalten, müssen Sie wiederum {{ interval }} Sekunden warten. Die Lotterie wird dann automatisch ausgewählt und eines der Ereignisse (grün oder gelb) wird zufällig ausgewählt. Sofern Sie die neue Lotterie erneut anpassen wollen, klicken Sie bitte erneut auf „Anpassen“. Sie haben dazu wieder {{ interval }} Sekunden Zeit. Sie könne die Lotterie so lange anpassen, bis beide Balken denselben Eurobetrag erreichen. In diesem Fall wählen Sie diese Lotterie.
			</p>

		{% endif %}
	{% else %} <!--  PASSIVE  -->
		<p>
			Zu Beginn jeder Runde sehen Sie eine Lotterie, die Ihnen zunächst zugeteilt wurde. Dies ist Ihre Anfangslotterie. Wenn Sie diese Anfangslotterie behalten möchten, müssen Sie innerhalb von {{ interval }} Sekunden auf den Button „Anpassung stoppen“ drücken. Die Runde endet dann und Sie behalten Ihre Anfangslotterie.
 
		</p>
		{% if default == "Safe" %}
			<p>
				Alternativ können Sie die Ergebnisse der Anfangslotterie ändern, <b>indem Sie lediglich {{ interval }} Sekunden warten.</b> Sobald die Zeit verstrichen ist, sinkt die Auszahlung, die Sie erhalten, wenn das Ergebnis „grün“ ausgewählt wird. Gleichzeitig steigt die Auszahlung, die Sie erhalten, wenn das Ergebnis „gelb“ angezeigt wird. Unter dem grünen Balken wird Ihnen angezeigt, um welchen Betrag das grüne Ergebnis sinkt, wenn die Zeit abgelaufen ist. Unter dem gelben Balken wird Ihnen angezeigt, um welchen Betrag das gelbe Ergebnis steigt, wenn die Zeit abgelaufen ist.
			</p>
			<p>
				Weiter unten auf dem Bild sehen Sie ein Beispiel. Im linken Bild wird Ihnen die ursprüngliche Lotterie angezeigt. Im rechten Bild sehen Sie diejenige Lotterie, die nach Ablauf der Zeit entstehen würde. Läuft in diesem Beispiel die Zeit ab, sinkt die Auszahlung für das grüne Ergebnis von 8 auf 7 Euro. Gleichzeitig steigt durch das Verstreichen der Zeit die Auszahlung für das gelbe Ergebnis von 13 auf 14.50 Euro.  
			</p>
			<div class="image_box">
				<img src="{% static "risktaking_instructions/safe.png" %}" alt="passive safe" width="940">
			</div>
			<p>
				Die neue Lotterie wird Ihnen nach Ablauf der {{ interval }} Sekunden angezeigt. Danach haben Sie wieder die Möglichkeit zu entscheiden, ob Sie diese neue Lotterie behalten wollen oder ob Sie einen weiteren Anpassungsschritt möchten. Wollen Sie die neue Lotterie behalten, müssen Sie lediglich den Button „Anpassung stoppen“ drücken. Die Lotterie wird dann ausgewählt und eines der Ereignisse (grün oder gelb) wird zufällig gezogen. Sofern Sie die neue Lotterie erneut anpassen wollen, müssen Sie wiederum {{ interval }} Sekunden warten. Sie können die Lotterie so lange anpassen, bis der grüne Balken (Ergebnis) 0 Euro erreicht. In diesem Fall wählen Sie diese Lotterie.
			</p>
		{% else %} <!--  RISKY  -->
			<p>
				Alternativ können Sie die Ergebnisse der Anfangslotterie ändern, <b>indem Sie lediglich {{ interval }} Sekunden warten.</b> Sobald die Zeit verstrichen ist, steigt die Auszahlung, die Sie erhalten, wenn das Ergebnis „grün“ ausgewählt wird. Gleichzeitig sinkt die Auszahlung, die Sie erhalten, wenn das Ergebnis „gelb“ angezeigt wird. Unter dem grünen Balken wird Ihnen angezeigt, um welchen Betrag das grüne Ergebnis steigt, wenn die Zeit abgelaufen ist. Unter dem gelben Balken wird Ihnen angezeigt, um welchen Betrag das gelbe Ergebnis sinkt, wenn die Zeit abgelaufen ist.

			</p>
			<p>
				Weiter unten auf dem Bild sehen Sie ein Beispiel. Im linken Bild wird Ihnen die ursprüngliche Lotterie angezeigt. Im rechten Bild sehen Sie diejenige Lotterie, die nach Ablauf der Zeit entstehen würde. Läuft in diesem Beispiel die Zeit ab, steigt die Auszahlung für das grüne Ergebnis von 7 auf 8 Euro. Gleichzeitig sinkt durch das Verstreichen der Zeit die Auszahlung für das gelbe Ergebnis von 14.50 auf 13 Euro.  
			</p>
			<div class="image_box">
				<img src="{% static "risktaking_instructions/risky.png" %}" alt="passive risky" width="940">
			</div>
			<p>
				Die neue Lotterie wird Ihnen nach Ablauf der {{ interval }} Sekunden angezeigt. Danach haben Sie wieder die Möglichkeit zu entscheiden, ob Sie diese neue Lotterie behalten wollen oder ob Sie einen weiteren Anpassungsschritt möchten. Wollen Sie die neue Lotterie behalten, müssen Sie lediglich den Button „Anpassung stoppen“ drücken. Die Lotterie wird dann ausgewählt und eines der Ereignisse (grün oder gelb) wird zufällig gezogen. Sofern Sie die neue Lotterie erneut anpassen wollen, müssen Sie wiederum {{ interval }} Sekunden warten. Sie können die Lotterie so lange anpassen, bis beide Balken denselben Eurobetrag erreichen. In diesem Fall wählen Sie diese Lotterie automatisch aus.
			</p>
		{% endif %}
	{% endif %}
	{% next_button %}
{% endblock %}
