{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Teil 1 - Instruktionen
{% endblock %}

{% block styles %}
	<style type="text/css"> 
		.page-header {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}
		.center {
			text-align: center;
		}
	</style>
{% endblock%}

{% block content %}
	<p><b>Anleitung 1 von 2</b></p>
	<p>
		In jeder Runde der Entscheidungsaufgabe müssen Sie eine Lotterie aussuchen, die am Ende der Runde ausgespielt wird. 
	</p>
	<p>
		Jede Lotterie hat <b>zwei mögliche Ergebnisse</b>, „grün“ und „gelb“. Beide Ergebnisse treten, wie bei einem Münzwurf, mit der <b>gleichen Wahrscheinlichkeit</b> von 50% ein. Die Lotterie wird Ihnen auf dem Bildschirm in Form von zwei Balken (grün und gelb) dargestellt. Jeder der Balken steht dabei für eines der zwei Ergebnisse der Lotterie. Die Zahl über dem gelben Balken zeigt Ihnen den Eurobetrag an, den Sie erhalten, wenn das Ereignis “gelb“ eintritt. Die Zahl über dem grünen Balken zeigt Ihnen den Eurobetrag an, den Sie erhalten, wenn das Ergebnis „grün“ eintritt. Darüber hinaus zeigt Ihnen auch die Höhe der beiden Balken an, wie hoch die jeweiligen Auszahlungen sind. 
	<p>
		Das folgende Beispiel soll verdeutlichen, wie die Lotterie dargestellt wird. Beide Ergebnisse „grün“ und „gelb“ werden mit der gleichen Wahrscheinlichkeit (50%) ausgewählt. Wird das Ergebnis „grün“ ausgewählt, erhalten Sie 7 Euro. Wird das Ergebnis „gelb“ ausgewählt, erhalten Sie 14.50 Euro.   
	</p>
	<p class="center"><img src="{% static "risktaking_instructions/base_example.png" %}" alt="lottery example" width="800"></p>
	<p>
		Zu Beginn jeder Runde wird Ihnen zunächst eine Lotterie angezeigt. Sie müssen dann entscheiden, ob Sie diese Lotterie behalten möchten, oder ob Sie die Auszahlungen der Lotterie anpassen wollen. Näheres dazu erklären wir Ihnen auf dem nächsten Bildschirm. 
	</p>
	<p>
		Eine Runde endet sobald Sie eine Lotterie ausgewählt haben. Diese Lotterie wird dann gespielt, das heißt es wird zufällig das „grüne“ oder das „gelbe“ Ereignis gezogen. Sie erfahren nicht, welches der beiden Ergebnisse gezogen wurde. Lediglich für die Runde, die am Ende des Experiments zur Auszahlung ausgewählt werden, erfahren Sie den Ausgang der Lotterie. 
	</p>

	{% next_button %}
{% endblock %}
