{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Allgemeine Instruktionen
{% endblock %}

{% block styles %}
	<style type="text/css"> 
		.page-header {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}
	</style>
{% endblock%}

{% block content %}
	<p>
		Liebe Teilnehmerinnen und Teilnehmer,<br>
		vielen Dank für Ihr Interesse an unserer Studie. Bevor wir Ihnen den Ablauf des Experiments erklären, möchten wir Sie über ein paar allgemeine Regeln informieren:
	</p>

	<p><b>Allgemeine Regeln</b></p>
	<ul>
		<li>
			Dieses Experiment wird etwa 40 Minuten dauern. Während dieser Zeit sollten Sie Ihren Platz nicht verlassen.
		</li>
		<li>
			Das Experiment besteht aus zwei Teilen mit unterschiedlichen Entscheidungsaufgaben. Der erste Teil besteht aus insgesamt 10 Runden, in denen Sie jeweils eine Entscheidung treffen. Der zweite Teil hat lediglich eine Runde, in der Sie nur eine einzige Entscheidung treffen. Insgesamt hat dieses Experiment also 11 Runden. 
		</li>
		<li>
			Bitte lesen Sie alle Erklärungen sorgfältig durch. Nur so können Sie sicher sein, dass Sie verstehen, wie Ihre Entscheidungen Ihren Verdienst beeinflussen. Die Instruktionen für den ersten Teil erhalten Sie auf den nächsten Bildschirmen. Sobald der erste Teil des Experiments abgeschlossen ist, erhalten Sie die Instruktionen für den zweiten Teil. 
		</li>
		<li>
			Bitte schalten Sie Ihr Handy aus und verstauen Sie es.
		</li>
		<li>
			Verhalten Sie sich während des Experiments ruhig und sprechen Sie nicht mit anderen Teilnehmern. 
		</li>
		<li>
			Sollten Sie während des Experiments Fragen haben, heben Sie bitte leise die Hand. Die Experimentatoren beantworten Ihre Frage dann an Ihrem Platz. 
		</li>
		<li>
			Alle Ihre Daten werden selbstverständlich anonym behandelt und nur zu Forschungszwecken genutzt. 
		</li>
	</ul>

	<p><b>Auszahlung am Ende des Experimentes</b></p>
	<p>
		Für Ihre Teilnahme an diesem Experiment erhalten Sie {{ participation_fee }} Euro. Am Ende des Experiments wird zufällig (mit gleicher Wahrscheinlichkeit) eine der insgesamt 11 Runden aus diesem Experiment ausgewählt und Sie werden gemäß Ihrer Entscheidung in der entsprechenden Runde bezahlt. Sie sollten also zunächst davon ausgehen, dass sich jede Ihrer Entscheidungen in beiden Teilen des Experiments auf Ihren Endverdienst auswirken kann. 
		}
	</p>
	<p>
		Die Studie endet sobald alle Teilnehmer beide Teile beendet und einen abschließenden Fragebogen ausgefüllt haben. Erst wenn alle Teilnehmer fertig sind, rufen wir Sie einzeln auf und Sie erhalten Ihren Verdienst in bar ausgezahlt. 
	</p>
	{% next_button %}
{% endblock %}


 